<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <link rel="stylesheet" type="text/css" href="/css/coderay.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="google-site-verification" content="NINyEsMwZ3_bR1euDJ1qYeqmVttJ5vjLst62JwhSSK4" />
    <META NAME="keywords" CONTENT="<%= @context[:tags] %>">
	<link href="http://www.jetthoughts.com/images/favicon.ico" rel="shortcut icon">
    <title><%= title %></title>
    
    <!-- Google analitics counter -->
    <script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript">try {
      var pageTracker = _gat._getTracker("UA-10749382-2");
      pageTracker._trackPageview();
    } catch(err) {}</script>
    
  </head>
  <body>    
      <p>
          <a href="/">JetThoughts' articles</a>                    
      </p>
    <section>
      <%= yield %> 
    </section>
    
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
    
    <br />
    <a href="http://www.rackspacecloud.com/2063-0-1-19.html" target="_blank" style="position:absolute;left:10px;"><img border="0" src="http://affiliates.rackspacecloud.com/banners/Powered_the-rackspace-cloud-250-wide.png" width="250" height="69" alt="Powered by Rackspace Cloud Computing"></a>
    
    <!-- 
    <a href="http://www.rackspacecloud.com/2063-0-1-49.html" target="_blank"><img border="0" src="http://affiliates.rackspacecloud.com/banners/linux_cs_728x90-1.gif" width="728" height="90" alt=""></a> -->
  </body>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
  <script src="/js/main.js" type="text/javascript"></script>
</html>

