<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <link rel="stylesheet" type="text/css" href="/css/coderay.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="google-site-verification" content="NINyEsMwZ3_bR1euDJ1qYeqmVttJ5vjLst62JwhSSK4" />
    <META NAME="keywords" CONTENT="<%= @context[:tags] %>">
    <title><%= title %></title>
  </head>
  <body>
      <p>
          <a href="/">JetThoughts' articles</a>
      </p>

    <section>
      <%= yield %> 
    </section>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

